body {
    background: linear-gradient(to left, #4591e0, #3c59ae);
    display: flex;
    justify-content: center;
    /* padding-left: 20%;
    padding-right: 20%; */
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.heading {
    color: rgb(247, 247, 247);
    font-size: 45px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.input-item-block {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
}

.input-item-field {
    width: 80%;
    font-size: 24px;
    color: rgb(112, 112, 112);
    border: none;
}

.input-item-btn-add {
    width: 15%;
    background-color: #427bcc;
    border: none;
    color: rgb(247, 247, 247);
    font-size: 25px;
}

.input-list {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.input-list-item {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    background-color: #4591e0;
    margin-top: 7px;
}

.input-list-text {
    width: 80%;
    font-size: 26px;
    color: rgb(247, 247, 247);
    padding-top: 10px;
    padding-left: 20px;
}

.input-list-btn-remove {
    background-color: #4591e0;
    border-color: rgb(247, 247, 247);
    color: rgb(247, 247, 247);
    font-size: 15px;
    border: 2px solid rgb(247, 247, 247);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-left: 25px;
}